<!-- Version 0.9.0/editor.html -->
<html ng-app='infoLeyend' ng-controller="infoLeyendController">

<head>
    <!-- Caracteres -->
    <meta charset="UTF-8">
    <!-- Autor: Javier Arocena -->
    <link type="text/plain" rel="author" href="files/humans.txt" />
    <meta name="author" content="Javier Arocena">
    <!-- Title -->
    <title ng-bind="titleApp"></title>
    <!-- Favicon -->
    <link rel="icon" href="{{muralesActivos[idMuralActivo].foto}}" type="image/x-icon" />
    <!-- Visual -->
    <link rel="stylesheet" href="files/main-style.css">
    <link rel="stylesheet" href="files/bower_components/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="files/bower_components/ng-dialog/css/ngDialog-theme-default.css">
    <!-- Logica -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="files/bower_components/ngsmoothscroll/dist/angular-smooth-scroll.min.js"></script>
    <script src="files/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="files/main-controller.js"></script>
</head>

<body ng-class="scaleGlobal > 1 ? 'bodyAmpliao' : 'bodyNormal'">
    <!--Dialog-->
    <div class="dialogMain" ng-show="mostrarDialog">
        <div class="dialogBox">
            <div class="dialog">
                <h2><span ng-hide="tituloInput">Nuevo punto</span><span ng-show="tituloInput" ng-bind="tituloInput"></span></h2>
                <p class="marinTop defondo">Rellena los datos que quieras, si los dejas en blanco se creará un punto vacio.</p>
                <form ng-submit="crearNuevoPunto(nuevoPunto)">
                    <p class="marinTop">
                        <input tabindex="1" ng-focus="desactivar()" ng-blur="activar()" ng-model="tituloInput" class="inputStyle largeInput" type="text" placeholder="Titulo">
                    </p>
                    <p class="marinTop">
                        <input tabindex="2" ng-focus="desactivar()" ng-blur="activar()" ng-model="textoInput" class="inputStyle largeInput" type="text" placeholder="Texto">
                    </p>
                    <!--<p class="marinTop">
					<input ng-focus="desactivar()" ng-blur="activar()" class="inputStyle miniInput" type="text" placeholder="X">
					<input ng-focus="desactivar()" ng-blur="activar()" class="inputStyle miniInput" type="text" placeholder="Y">
					<input ng-focus="desactivar()" ng-blur="activar()" class="inputStyle miniInput" type="text" placeholder="Scale">
				</p>-->
                    <p class="marinTop">
                        <label>
                            <input type="checkbox" ng-model="textoLuego"> Texto luego</label>
                    </p>
                    <p class="marinTop">
                        <button type="submit" class="buttonLabel">Crear</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="backGround-Dialog" ng-click="mostrarDialog = null"></div>
    </div>
    <section class="visorLienzo" id="anchorTop">
        <div class="backgroundBack" ng-click="sectionActiveMural=false;sectionActiveExport=false;sectionActiveInfo=false;sectionActiveMurales=false;" ng-show="sectionActiveMural || sectionActiveExport || sectionActiveMurales || sectionActiveInfo"></div>
        <div class="lienzo" id="lienzo" style="transform: scale({{scaleGlobal}}) translate({{xGlobal}}px,{{yGlobal}}px)" ng-class="sectionActivePuntos ? 'minLienzo' : 'largeLienzo'">
            <span ng-show="muralesActivos[idMuralActivo].foto" ng-repeat="punto in muralesActivos[idMuralActivo].puntos track by $index" style="top: {{punto.top}}%;left: {{punto.left}}%;" class="marca {{punto.lado}}" ng-mouseover="encuadrarPunto($index)" id="puntom-{{$index}}">

    			<span ng-click="disponible = !disponible" ng-hide="noNumbers" class="marcoSelector" id="p-{{$index}}" style="transform: scale({{punto.scalePoint/(scaleGlobal*0+1)}})">

    			{{$index +1}}

    				<div style="transform: scale({{ (1/punto.scalePoint) /scaleGlobal}})"class="moreInfo" ng-hide="punto.nombre == '' " ng-class="disponible == true ? 'openPoint' : 'noPenPoint'">

            			<span class="nombrePunto">{{punto.nombre}}</span>

                        <span class="textoContenedor scrollFinito scrollTolrato" style="max-height: {{calcularAlto(punto.top)}}px" ng-show="disponible">{{punto.txt}}</span>

                    </div>
                </span>
            </span>
            <img ng-show="muralesActivos[idMuralActivo].foto" imageonload ondragstart="return false" ng-mouseup="mostrarDialogo($event)" class="nulo" ng-src="{{muralesActivos[idMuralActivo].foto}}" id="lienzoImagen">
        </div>
        <div class="navegacion">
            <div class="logoBox" ng-click="resetLienzo(); sectionActivePuntos=false;sectionActiveMural=false;sectionActiveExport= false;sectionActiveMurales=false;">
                <img src="files/img/engine-logo-09.svg" alt="">
                <span class="versionNumb">BETA 1.0.1</span>
            </div>
            <h2>{{muralesActivos[idMuralActivo].nombre}} <span ng-hide="muralesActivos[idMuralActivo].foto">, sin imagen de fondo!</span> ({{idMuralActivo+1}}/{{muralesActivos.length}})</h2>
            <article class="newMural" ng-hide="idMuralActivo == 0" ng-click="cargarMural(idMuralActivo - 1)">
                <p>Mural anterior</p>
            </article>
            <article class="newMural" ng-click="cargarMural(idMuralActivo + 1)" ng-hide="muralesActivos.length == idMuralActivo+1">
                <p>Siguiente mural</p>
            </article>
            <span class="mainListIcon svgBox arribaDerecha" ng-click="sectionActiveInfo = !sectionActiveInfo;sectionActiveMurales = false;sectionActiveMural=false;sectionActiveExport=false;sectionActivePuntos=false; " ng-class="sectionActiveInfo ? 'svgActivo' : 'svgInactivo'">
			
				<svg version="1.1" x="0px" y="0px" viewBox="0 0 23.625 23.625" >
					<g class="iconSvg">
						<path fill="#525351" d="M11.812,0C5.289,0,0,5.289,0,11.812s5.289,11.813,11.812,11.813s11.813-5.29,11.813-11.813
							S18.335,0,11.812,0z M14.271,18.307c-0.608,0.24-1.092,0.422-1.455,0.548c-0.362,0.126-0.783,0.189-1.262,0.189
							c-0.736,0-1.309-0.18-1.717-0.539s-0.611-0.814-0.611-1.367c0-0.215,0.015-0.435,0.045-0.659c0.031-0.224,0.08-0.476,0.147-0.759
							l0.761-2.688c0.067-0.258,0.125-0.503,0.171-0.731c0.046-0.23,0.068-0.441,0.068-0.633c0-0.342-0.071-0.582-0.212-0.717
							c-0.143-0.135-0.412-0.201-0.813-0.201c-0.196,0-0.398,0.029-0.605,0.09c-0.205,0.063-0.383,0.12-0.529,0.176l0.201-0.828
							c0.498-0.203,0.975-0.377,1.43-0.521c0.455-0.146,0.885-0.218,1.29-0.218c0.731,0,1.295,0.178,1.692,0.53
							c0.395,0.353,0.594,0.812,0.594,1.376c0,0.117-0.014,0.323-0.041,0.617c-0.027,0.295-0.078,0.564-0.152,0.811l-0.757,2.68
							c-0.062,0.215-0.117,0.461-0.167,0.736c-0.049,0.275-0.073,0.485-0.073,0.626c0,0.356,0.079,0.599,0.239,0.728
							c0.158,0.129,0.435,0.194,0.827,0.194c0.185,0,0.392-0.033,0.626-0.097c0.232-0.064,0.4-0.121,0.506-0.17L14.271,18.307z
							 M14.137,7.429c-0.353,0.328-0.778,0.492-1.275,0.492c-0.496,0-0.924-0.164-1.28-0.492c-0.354-0.328-0.533-0.727-0.533-1.193
							c0-0.465,0.18-0.865,0.533-1.196c0.356-0.332,0.784-0.497,1.28-0.497c0.497,0,0.923,0.165,1.275,0.497
							c0.353,0.331,0.53,0.731,0.53,1.196C14.667,6.703,14.49,7.101,14.137,7.429z"/>
					</g>
				</svg>
			<span class="titleMainIcon">Información</span>
            </span>
        </div>
        <div class="botonesBox">
            <!-- Item LIST -->
            <span class="mainListIcon svgBox" ng-click="sectionActivePuntos = !sectionActivePuntos; sectionActiveMural=false;sectionActiveExport=false;sectionActiveMurales=false;sectionActiveInfo=false;" ng-class="sectionActivePuntos ? 'svgActivo' : 'svgInactivo'">
			<svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30.4 30.4">
					
				<g class="iconSvg">
					<path fill="#525351" d="M15.2,0C6.8,0,0,6.8,0,15.2s6.8,15.2,15.2,15.2s15.2-6.8,15.2-15.2S23.6,0,15.2,0z M17.1,25.1v-0.9
						c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v0.9c-4.1-0.8-7.3-4-8-8h0.7c1,0,1.8-0.8,1.8-1.8s-0.8-1.8-1.8-1.8H5.3c0.8-4,4-7.3,8-8v0.9
						c0,1,0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8V5.3c4,0.8,7.3,4,8,8h-0.7c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8h0.7
						C24.3,21.1,21.1,24.3,17.1,25.1z"/>

					<circle fill="#525351" cx="15.2" cy="15.2" r="3"/>
				</g>
			
			</svg>
			<span class="titleMainIcon">{{muralesActivos[idMuralActivo].puntos.length}} puntos</span>
            </span>
            <!-- Item LIST -->
            <span class="mainListIcon svgBox" ng-click="sectionActiveMural = !sectionActiveMural; sectionActiveExport=false;sectionActiveMurales=false;sectionActivePuntos=false; sectionActiveInfo=false;" ng-class="sectionActiveMural ? 'svgActivo' : 'svgInactivo'">
			<svg x="0px" y="0px" viewBox="0 0 550.8 550.8">
					
				<g class="iconSvg">
					<path fill="#525351" d="M515.8,61.2H35c-19.3,0-35,15.7-35,35v358.5c0,19.3,15.7,35,35,35h480.9c19.3,0,35-15.7,35-35V96.2
					C550.8,76.9,535.1,61.2,515.8,61.2z M515.8,96.2v254.3l-68.9-62.7c-10.4-9.4-26.3-9-36.2,0.9L341,358.5L203.4,194.2
					c-10.4-12.4-29.4-12.5-40-0.3L35,343.2v-247H515.8z M367.2,188c0-26.6,21.5-48.1,48.1-48.1c26.6,0,48.1,21.5,48.1,48.1
					s-21.5,48.1-48.1,48.1C388.7,236.1,367.2,214.5,367.2,188z"/>
				</g>
			
			</svg>
			<span class="titleMainIcon">Mural</span>
            </span>
            <!-- Item LIST -->
            <span class="mainListIcon svgBox" ng-click="sectionActiveExport = !sectionActiveExport; sectionActiveMural=false;sectionActiveMurales=false;sectionActivePuntos=false; sectionActiveInfo=false;" ng-class="sectionActiveExport ? 'svgActivo' : 'svgInactivo'">
			<svg version="1.1" id="Capa_1" x="0px" y="0px"
	 viewBox="0 0 392.2 392.2" enable-background="new 0 0 392.2 392.2" xml:space="preserve">
					
				<g class="iconSvg">
					<path fill="#525351" d="M368.6,46.3H23.6C10.6,46.3,0,56.9,0,69.9v260.6c0,13,10.6,23.6,23.6,23.6h345.1
				c13,0,23.6-10.6,23.6-23.6V69.9C392.2,56.9,381.6,46.3,368.6,46.3z M363.9,325.8H28.3V82.1h335.6V325.8L363.9,325.8z"/>
			<path fill="#525351" d="M84.2,213.1l63.1,29.3c1.6,0.8,3.4,1.1,5.2,1.1c2.3,0,4.6-0.7,6.6-1.9c3.5-2.3,5.7-6.1,5.7-10.3V231
				c0-4.8-2.8-9.1-7.1-11.1l-39.5-18.3l39.5-18.3c4.3-2,7.1-6.4,7.1-11.1v-0.3c0-4.2-2.1-8.1-5.7-10.3c-2-1.3-4.2-1.9-6.6-1.9
				c-1.8,0-3.6,0.4-5.2,1.1L84.2,190c-4.3,2-7.1,6.4-7.1,11.1v0.9C77.1,206.7,79.9,211.1,84.2,213.1z"/>
			<path fill="#525351" d="M165.3,272.9c2.3,3.1,6,5,9.9,5h0.3c5.4,0,10-3.4,11.7-8.5l41.6-128.8c1.2-3.7,0.5-7.8-1.8-11
				c-2.3-3.1-6-5-9.9-5h-0.3c-5.4,0-10,3.4-11.7,8.5l-41.6,128.8C162.3,265.6,163,269.7,165.3,272.9z"/>
			<path fill="#525351" d="M227.5,172.1c0,4.7,2.8,9.1,7.1,11.1l39.5,18.3l-39.5,18.3c-4.3,2-7.1,6.4-7.1,11.1v0.3
				c0,4.2,2.1,8.1,5.7,10.3c2,1.3,4.3,1.9,6.6,1.9c1.8,0,3.5-0.4,5.2-1.1l63.1-29.3c4.3-2,7.1-6.4,7.1-11.1v-0.9
				c0-4.7-2.8-9.1-7.1-11.1l-63.1-29.3c-1.6-0.7-3.4-1.1-5.2-1.1c-2.4,0-4.6,0.7-6.6,1.9c-3.6,2.3-5.7,6.1-5.7,10.3L227.5,172.1
				L227.5,172.1L227.5,172.1z"/>
				</g>
			
			</svg>
			<span class="titleMainIcon">Código</span>
            </span>
            <!-- Item LIST -->
            <span class="mainListIcon svgBox" ng-click="sectionActiveMurales = !sectionActiveMurales; sectionActiveMural=false;sectionActiveExport=false;sectionActivePuntos=false; sectionActiveInfo=false;" ng-class="sectionActiveMurales ? 'svgActivo' : 'svgInactivo'">
			<svg version="1.1" x="0px" y="0px" viewBox="0 0 30.4 30.4">
				
					<g class="iconSvg">
						<path fill="#525351" d="M3.7,8.4h23.1c2,0,3.7-1.6,3.7-3.7c0-2-1.6-3.7-3.7-3.7H3.7C1.6,1.1,0,2.7,0,4.7C0,6.8,1.6,8.4,3.7,8.4z
							 M3.7,2.8c1,0,1.9,0.8,1.9,1.9S4.7,6.6,3.7,6.6c-1,0-1.9-0.8-1.9-1.9C1.8,3.7,2.6,2.8,3.7,2.8z"/>
						<path fill="#525351" d="M26.7,11.5H3.7c-2,0-3.7,1.6-3.7,3.7c0,2,1.6,3.7,3.7,3.7h23.1c2,0,3.7-1.6,3.7-3.7
							C30.4,13.2,28.8,11.5,26.7,11.5z M3.7,17.1c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9c1,0,1.9,0.8,1.9,1.9
							C5.5,16.2,4.7,17.1,3.7,17.1z"/>
						<path fill="#525351" d="M26.7,22H3.7c-2,0-3.7,1.6-3.7,3.7c0,2,1.6,3.7,3.7,3.7h23.1c2,0,3.7-1.6,3.7-3.7
							C30.4,23.7,28.8,22,26.7,22z M3.7,27.6c-1,0-1.9-0.8-1.9-1.9c0-1,0.8-1.9,1.9-1.9c1,0,1.9,0.8,1.9,1.9
							C5.5,26.7,4.7,27.6,3.7,27.6z"/>
					</g>
					
				</svg>
			<span class="titleMainIcon">Murales</span>
            </span>
        </div>
        <div class="rangeFloating" ng-show="scaleGlobal > 1">
            <input ng-model="scaleGlobal" type="range" min="1" max="10" step="0.1" />
        </div>
        <div class="largeWrapper" ng-show="sectionActiveInfo">
            <div class="marginLargeWrapper">
            <h2 class="secHotkey">Créditos</h2>
                <ul class="listHotkey" ng-click="goWebSite('http://javierarocena.com')">
                	<img class="miLogo" src="files/img/javier-arocena-logo-negro.png" alt="">
                    <p class="mitexto">Código y diseño por <a class="infoLink" target="_blank" href="http://javierarocena.com">Javier Arocena</a></p>
                    <h3 class="secHotkey"></h3>
                </ul>
                <h2>Atajos de teclado</h2>
                <h3 class="secHotkey">Desplazamiento del visor</h3>
                <ul class="listHotkey">
                    <li><span class="teclaIcon">+</span><span class="nombreAccion">Zoom in</span></li>
                    <li><span class="teclaIcon">-</span><span class="nombreAccion">Zoom out</span></li>
                    <li><span class="teclaIcon">0</span><span class="nombreAccion">Reset</span></li>
                    <li><span style="transform:rotate(270deg)" class="teclaIcon">&#10140;</span><span class="nombreAccion">Desplazar arriba </span></li>
                    <li><span style="transform:rotate(90deg)" class="teclaIcon">&#10140;</span><span class="nombreAccion">Desplazar abajo</span></li>
                    <li><span style="transform:rotate(180deg)" class="teclaIcon">&#10140;</span><span class="nombreAccion">Desplazar izquierda</span></li>
                    <li><span class="teclaIcon">&#10140;</span><span class="nombreAccion">Desplazar derecha</span></li>
                </ul>
                <h3 class="secHotkey">Murales</h3>
                <ul class="listHotkey">
                    <li><span class="teclaIcon">Av</span><span class="nombreAccion">Cargar siguiente mural</span></li>
                    <li><span class="teclaIcon">Re</span><span class="nombreAccion">Cargar anterior mural</span></li>
                    <li ng-click="dialogar('borrarMural',muralesActivos[idMuralActivo])"><span class="teclaIcon">Sup</span><span class="nombreAccion">Borrar mural</span></li>
                    <li><span class="teclaIcon">+</span><span class="nombreAccion">Zoom in</span></li>
                </ul>
                <h3 class="secHotkey">Interface</h3>
                <ul class="listHotkey">
                    <li><span class="teclaIcon">1</span><span class="nombreAccion">Mostrar pestaña 'puntos'</span></li>
                    <li><span class="teclaIcon">2</span><span class="nombreAccion">Mostrar pestaña 'mural'</span></li>
                    <li><span class="teclaIcon">3</span><span class="nombreAccion">Mostrar pestaña 'código'</span></li>
                    <li><span class="teclaIcon">4</span><span class="nombreAccion">Mostrar pestaña 'murales'</span></li>
                </ul>
            </div>
        </div>
        <div class="displaceFloat">
            <span class="buttonNav svgBox" ng-show="scaleGlobal != 1 || xGlobal != 0 || yGlobal != 0" ng-click="resetLienzo()">

			<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
				<g class="iconSvg">

				<rect x="16.4" y="10.4" fill="#010202" width="182.7" height="182.7"/>

				<path fill="#FFFFFF" d="M162.9,95.6l-48.5-42.7c-2.3-2-5.9-2-8.2,0L57.8,95.6c-2.3,2-1.7,3.6,1.4,3.6h15v43.7c0,2.4,2,4.4,4.4,4.4
			h18.3v-28.7c0-2.4,2-4.4,4.4-4.4h18.5c2.4,0,4.4,1.9,4.4,4.4v28.7h18.3c2.4,0,4.4-2,4.4-4.4V99.1h15
			C164.6,99.1,165.2,97.5,162.9,95.6z"/>
					
				</g>
				
			</svg>

		</span>
            <span class="buttonNav svgBox" ng-click="newScale(scaleGlobal+1)">

			<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
				<g class="iconSvg">
					<rect x="16.7" y="10.3" fill="#010202" width="182.7" height="182.7"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="11" stroke-miterlimit="10" x1="62.7" y1="102.9" x2="151.7" y2="102.9"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="11" stroke-miterlimit="10" x1="107.2" y1="147.4" x2="107.2" y2="58.4"/>
				</g>
				
			</svg>

		</span>
            <span class="buttonNav svgBox" ng-click="newScale(scaleGlobal-1)">

			<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
				<g class="iconSvg">
					<rect x="16.1" y="10.8" fill="#010202" width="182.7" height="182.7"/>
					<line fill="none" stroke="#FFFFFF" stroke-width="11" stroke-miterlimit="10" x1="62.7" y1="102.9" x2="151.7" y2="102.9"/>
				</g>
				
			</svg>

		</span>
        </div>
        <div class="sectionFloatingBox scrollFinito" ng-show="sectionActivePuntos">
            <div class="notificacion" ng-show="muralesActivos[idMuralActivo].puntos.length == 0">
                ¡No hay puntos! Añade uno pinchando en la imagen de fondo.
            </div>
            <!-- <div class="notificacion" ng-show="muralesActivos[idMuralActivo].puntos.length > 0">
						{{muralesActivos[idMuralActivo].puntos.length}} puntos
					</div> -->
            <div class="headerFloating">
                <div class="searchBox">
                    <input ng-hide="muralesActivos[idMuralActivo].puntos.length < 2" ng-focus="desactivar()" ng-blur="activar()" type="text" ng-model="filtroPuntos" ng-change="encuadrarPunto(0)" placeholder="Buscar puntos...">
                </div>
                <div class="optionPoints" ng-hide="muralesActivos[idMuralActivo].puntos.length < 1">
                    <ul class="listadoPuntos">
                        <li class="listaPunto tooltip" data-title="Introducir texto luego">
                            <input type="checkbox" id="texto_luego" ng-model="textoLuego">
                            <label for="texto_luego">
                                <span class="svgBox">

											<svg version="1.1"x="0px" y="0px" viewBox="0 0 220.7 199.4">
												
												<g class="iconSvg">
													<polygon fill="#525351" points="92.7,28.3 164.1,99.7 92.7,171.1 121,199.4 220.7,99.7 121,0"/>
													<polygon fill="#525351" points="28.3,199.4 128,99.7 28.3,0 0,28.3 71.4,99.7 0,171.1 "/>
												</g>
											</svg>

										</span>
                            </label>
                        </li>
                        <li class="listaPunto tooltip" data-title="Ocultar los números">
                            <input type="checkbox" ng-model="noNumbers" id="ocultar_puntos">
                            <label for="ocultar_puntos">
                                <span class="svgBox">
										
										<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
										
											<g class="iconSvg">
											
												<path fill="#525351"  d="M153.6,89.8l-42.3,42.3C134.4,131.6,153,113,153.6,89.8z"/>
												<path fill="#525351"  d="M213.8,92.2c-1-1.1-13.5-15.6-33.2-29.3l-13.4,13.4c12.9,8.5,22.8,17.9,28.1,23.3c-11.6,12-45.1,42.6-85,42.6
													c-2.9,0-5.7-0.2-8.5-0.5l-16.1,16.1c7.9,2,16.1,3.1,24.6,3.1c57,0,101.6-51.6,103.5-53.8C217.4,102.7,217.4,96.5,213.8,92.2z"/>
												<path fill="#525351"  d="M199.6,27.6c0-0.6-0.2-1.1-0.6-1.5l-15.3-15.3c-0.8-0.8-2.2-0.8-3.1,0L146.5,45c-11.2-4.1-23.4-6.7-36.3-6.7
													C53.2,38.3,8.6,90,6.7,92.2c-3.7,4.3-3.7,10.6,0,14.9c1.1,1.3,17.4,20.2,42.5,35.2L21.5,170c-0.4,0.4-0.6,1-0.6,1.5
													c0,0.6,0.2,1.1,0.6,1.5l15.3,15.3c0.4,0.4,1,0.6,1.5,0.6s1.1-0.2,1.5-0.6L199,29.2C199.4,28.8,199.6,28.2,199.6,27.6z M25.3,99.6
													C33.1,91.5,50.9,74.9,74,65c-4.5,6.8-7.1,15-7.1,23.8c0,10.1,3.5,19.3,9.2,26.7l-13.2,13.2C45.3,118.9,31.8,106.3,25.3,99.6z"/>
													
											</g>
										</svg>
									</span>
                            </label>
                        </li>
                        <li class="listaPunto tooltip tooltip-danger" data-title="Borrar todos los puntos">
                            <label for="borrar_todos">
                                <span class="svgBox svgDanger" ng-click="dialogar('borrarPuntos')">
											
											<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
									
												<g class="iconSvg">

													<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
														c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
														c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
														 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

													<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
														C180.4,15.6,177.7,12.9,174.4,12.9z"/>
												</g>
											</svg>

										</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="listaPuntosEdit" id="floating-puntos">
                <li class="listaPuntosEdit" ng-repeat="punto in muralesActivos[idMuralActivo].puntos | filter: filtroPuntos as puntosFiltrados track by $index" id="punto-{{$index}}" ng-mouseover="resaltarEnLienzo($index)" ng-mouseleave="noResaltarEnLienzo($index)">
                    <span class="numeroIndex">
								
								<input class="checkPoint" type="checkbox">

								<span class="numberPoint" ng-bind="$index + 1"></span>
                    </span>
                    <input class="fakeInputPoint" ng-focus="desactivar()" ng-blur="activar()" ng-change="upLocalStorage()" placeholder="Vacio" type="text" ng-model="punto.nombre">
                    <input class="buttonLabel buttonRojo minibutton" type="button" value="x" ng-click="dialogar('borrarPunto',punto)">
                    <!-- <input class="inputStyle" ng-focus="desactivar()" ng-blur="activar()" ng-change="upLocalStorage()" placeholder="Vacio" type="text" ng-model="punto.txt"> -->
                    <textarea class="textAreaTextPoint" ng-change="upLocalStorage()" ng-focus="desactivar()" ng-blur="activar()" ng-model="punto.txt" placeholder="Texto">
                    </textarea>
                    <span class="labelInput">x</span>
                    <input class="inputStyle inputSmall xInput" ng-focus="noResaltarEnLienzo($index);desactivar()" ng-blur="activar()" ng-change="upLocalStorage()" placeholder="?" type="number" ng-model="punto.left" required="required">
                    <span class="labelInput">y</span>
                    <input class="inputStyle inputSmall yInput" ng-focus="noResaltarEnLienzo($index);desactivar()" ng-blur="activar()" ng-change="upLocalStorage()" placeholder="?" type="number" ng-model="punto.top" required="required">
                    <!-- <input ng-change="noResaltarEnLienzo($index);upLocalStorage()" type="range" ng-model="punto.scalePoint" min="0.01" max="2" step="0.01"> -->
                    <input class="miniRange" ng-change="noResaltarEnLienzo($index);upLocalStorage()" type="range" ng-model="punto.scalePoint" min="0.15" max="1.15" step="0.50">
                    <!-- <input class="inputSmall" ng-change="upLocalStorage()" ng-focus="desactivar()" ng-blur="activar()" type="number" ng-model="punto.scalePoint"> -->
                    <!-- <button ng-click="encuadrar(punto.top,punto.left)">Ver</button> -->
                </li>
            </ul>
        </div>
        <div class="sectionFloatingBox" id="floating-mural" ng-show="sectionActiveMural">
            <div class="headerFloating">
                <div class="searchBox settingMural">
                    <input class="inputNameMural" ng-focus="desactivar()" ng-blur="activar()" class="fakeInput" type="text" ng-change="upLocalStorage()" ng-model="muralesActivos[idMuralActivo].nombre" placeholder="Escribe aquí el nombre del mural">
                </div>
                <div class="optionPoints" ng-hide="muralesActivos[idMuralActivo].puntos.length < 1"></div>
            </div>
            <span ng-hide="muralesActivos[idMuralActivo].foto || muralesActivos.length < 1 " class="infoInputSpan">El mural "{{muralesActivos[idMuralActivo].nombre}}" no tiene imagen!</span>
            <div class="headerFloating">
                <span class="infoInputSpan">Imagen de fondo </span>
                <div class="optionPoints" ng-hide="muralesActivos[idMuralActivo].puntos.length < 1">
                    <ul class="listadoPuntos">
                        <li class="listaPunto">
                            <label for="borrar_todos">
                                <span ng-show="muralesActivos[idMuralActivo].foto" class="svgBox svgDanger" ng-click="muralesActivos[idMuralActivo].foto = '' ;upLocalStorage()">
									
									<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
							
										<g class="iconSvg">

											<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
												c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
												c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
												 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

											<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
												C180.4,15.6,177.7,12.9,174.4,12.9z"/>
										</g>
									</svg>

								</span>
                            </label>
                        </li>
                        <li class="listaPunto">
                            <label for="borrar_todos">
                                <span ng-show="muralesActivos[idMuralActivo].foto" class="svgBox" ng-click="abrirVentana(muralesActivos[idMuralActivo].foto)">
									
									<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
							
										<g class="iconSvg">

											<path fill="#525351" d="M190.9,71.9h-44.5V5.2H79.7v66.7H35.3l77.8,77.8L190.9,71.9z M35.3,172v22.2h155.7V172H35.3z"/>
										
										</g>
									</svg>

								</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="searchBox">
                <input ng-focus="desactivar()" ng-change="upLocalStorage()" ng-blur="activar()" type="text" ng-model="muralesActivos[idMuralActivo].foto" placeholder="Pega aquí la url de la imagen">
            </div>
            <!-- <article class="newMural good-btn" ng-click="actualizarPuntos(muralesActivos[idMuralActivo].puntos)">

				<p>Actualizar a última versión</p>

			</article> -->
            <article class="newMural" ng-click="dialogar('escalarTodosPuntos')">
                <p>Escalar a todos los puntos del mural</p>
            </article>
            <article class="newMural danger-btn" ng-click="dialogar('borrarMural',muralesActivos[idMuralActivo])">
                <p>Borrar mural</p>
            </article>

            <span class="infoInputSpan">Código de este mural</span>

             <span class="infoInputSpan">(Triple click en el código para seleccionarlo)</span>

            <div class="codigoText">
                    
                <p class="codeText">{{muralesActivos[idMuralActivo]}}</p>

            </div>

        </div>
        <div class="sectionFloatingBox" id="floating-export" ng-show="sectionActiveExport">
            <section class="exportSection" ng-focus="desactivar()" ng-blur="activar()" ng-show="muralesActivos[idMuralActivo].puntos.length > 0">

                <span class="infoInputSpan">Exportar tu pack de {{muralesActivos.length}} murales:</span>
                <span class="infoInputSpan">(Triple click en el código para seleccionarlo)</span>
                
                <div class="codigoText">
                    
                    <p class="codeText">{{muralesActivos}}</p>

                </div>

            </section>
        </div>
        <div class="sectionFloatingBox" id="floating-murales" ng-show="sectionActiveMurales">
            <div class="btnDialogBox">
                <p>
                    <article class="newMural good-btn" ng-click="dialogar('nuevoMural')">
                        <p>Nuevo mural</p>
                    </article>
                </p>

                <p>
                    <article class="newMural" ng-click="mostrarGeneadorMurales = true">
                        <p ng-hide="mostrarGeneadorMurales">Importar pack de murales</p>
                        <input ng-show="mostrarGeneadorMurales" ng-focus="desactivar()" ng-blur="activar();mostrarGeneadorMurales = false" class="urlImagen" type="text" placeholder="Pega aquí el código del pack" ng-model="muralesImportados" ng-change="dialogar('importarMurales')">
                    </article>
                </p>

                <p>
                    <article class="newMural" ng-click="mostrarGeneradorMural = true">
                        <p ng-hide="mostrarGeneradorMural">Importar un mural</p>
                        <input ng-show="mostrarGeneradorMural" ng-focus="desactivar()" ng-blur="activar();mostrarGeneradorMural = false" class="urlImagen" type="text" placeholder="Pega aquí el código del mural" ng-model="muralImportado" ng-change="importarMural()">
                    </article>
                </p>


            </div>
            <!-- <div class="headerFloating">
						
				<span ng-show="muralesActivos.length > 0" class="infoInputSpan">Hay {{filtered.length}} murales</span>
				
				<span ng-hide="muralesActivos.length > 0" class="infoInputSpan">No hay ningún mural, crea uno.</span>
		
				<div class="searchBox" >

					<input class="fullimput" ng-show="muralesActivos.length > 0" ng-focus="desactivar()" ng-blur="activar()" type="text" ng-model="busquedaMurales" placeholder="Busca murales...">
					
				</div>


			</div> -->
            <section class="listaMurales">
                <!-- <div class="muralItem" ng-repeat="mural in muralesActivos | filter: busquedaMurales track by $index "> -->
                <div class="muralItem" ng-repeat="mural in filtered = (muralesActivos | filter: busquedaMurales ) track by $index ">
                    <div class="headerFloating">
                        <div class="searchBox">
                            <input class="inputNameMural" ng-focus="desactivar()" ng-blur="activar()" class="fakeInput" type="text" ng-change="upLocalStorage()" ng-model="muralesActivos[$index].nombre" maxlength="84" placeholder="Escribe aquí el nombre del mural">
                        </div>
                        <div class="optionPoints">
                            <ul class="listadoPuntos">
                                <!-- <li class="listaPunto compacto tooltip" data-title="Duplicar Mural">
									<label>

										<span class="svgBox" ng-click="copiarMural(mural,$index)">

											<svg version="1.1"x="0px" y="0px" viewBox="0 0 220.7 199.4">
												
												<g class="iconSvg">
													<polygon fill="#525351" points="92.7,28.3 164.1,99.7 92.7,171.1 121,199.4 220.7,99.7 121,0"/>
													<polygon fill="#525351" points="28.3,199.4 128,99.7 28.3,0 0,28.3 71.4,99.7 0,171.1 "/>
												</g>
											</svg>

										</span>

									</label>
								</li> -->
                                <li class="listaPunto compacto">
                                    <label for="borrar_todos">
                                        <span class="svgBox svgDanger" ng-click="dialogar('borrarMural',mural)">
											
											<svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
									
												<g class="iconSvg">

													<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
														c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
														c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
														 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

													<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
														C180.4,15.6,177.7,12.9,174.4,12.9z"/>
												</g>
											</svg>

										</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <article ng-class="idMuralActivo == $index ? 'seleccionado' : 'noseleccionado' ">
                        <span ng-click="cargarMural($index)">

							<!-- <p ng-show="mural.puntos.length != 0">{{mural.puntos.length}} puntos</p> -->
							<p ng-show="mural.puntos.length == 0">Ningún punto...</p>
							
							<span class="muralImagenThumb" style="background-image:url('{{mural.foto}}')">

								<!-- <img ng-show="mural.foto" class="imgMuralItem" ng-src="{{mural.foto}}" alt="Fallo imagen">
								<img ng-hide="mural.foto" class="imgMuralItem" ng-src="http://theshoecompany.townshoes.ca/store/_ui/desktop/common/images/404a_prodNotFound_img.jpg" alt="{{mural.foto}}"> -->

							</span>
                        </span>
                    </article>
                </div>
                <div class="btnDialogBox">
                    <article class="newMural danger-btn" ng-click="dialogar('resetearTodo')">
                        <p>RESETEAR TODO</p>
                    </article>
                </div>
            </section>
        </div>
    </section>
    <!-- plantilla borrarPunto -->
    <script type="text/ng-template" id="borrarPunto">
        <i class="icono"><svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
									
		<g class="iconSvg">

			<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
				 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

			<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
				C180.4,15.6,177.7,12.9,174.4,12.9z"/>
		</g>
	</svg></i>
        <h3 class="pregunta">Seguro que quieres borrar el punto?</h3>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="remove(elBorrar);closeThisDialog()" class="newMural danger-btn">
                <p>Borrar 1 punto</p>
            </article>
        </div>
    </script>
    <!-- plantilla borrarPuntos -->
    <script type="text/ng-template" id="borrarPuntos">
        <i class="icono"><svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
									
		<g class="iconSvg">

			<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
				 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

			<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
				C180.4,15.6,177.7,12.9,174.4,12.9z"/>
		</g>
	</svg></i>
        <h3 class="pregunta">Seguro que quieres borrar TODOS los puntos del mural?</h3>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="remove();closeThisDialog()" class="newMural danger-btn">
                <p>Borrar {{muralesActivos[idMuralActivo].puntos.length}} puntos</p>
            </article>
        </div>
    </script>
    <!-- plantilla borrarMural -->
    <script type="text/ng-template" id="borrarMural">
        <i class="icono"><svg version="1.1" x="0px" y="0px" viewBox="0 0 220.7 199.4">
									
		<g class="iconSvg">

			<path fill="#525351" d="M54.8,184.9c0.2,5.1,4.5,9.2,9.6,9.2h89.7c5.2,0,9.4-4.1,9.6-9.2l6.4-135.3H48.4L54.8,184.9z M129.5,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z M102.2,83.2
				c0-2.2,1.7-3.9,3.9-3.9h6.2c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2L102.2,83.2z
				 M74.9,83.2c0-2.2,1.7-3.9,3.9-3.9H85c2.2,0,3.9,1.7,3.9,3.9v77.3c0,2.2-1.7,3.9-3.9,3.9h-6.2c-2.2,0-3.9-1.7-3.9-3.9V83.2z"/>

			<path fill="#525351" d="M174.4,12.9H133V5.1c0-1.1-0.9-2-2-2H87.5c-1.1,0-2,0.9-2,2v7.8H44.1c-3.3,0-6,2.7-6,6v19h142.4V19
				C180.4,15.6,177.7,12.9,174.4,12.9z"/>
		</g>
	</svg></i>
        <h3 class="pregunta">Seguro que quieres borrar el mural <span class="defondo">'{{muralesActivos[idMuralActivo].nombre}}'</span> ?</h3>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="removeMural(elBorrar);closeThisDialog()" class="newMural danger-btn">
                <p>Borrar mural</p>
            </article>
        </div>
    </script>
    <!-- plantilla resetearTodo -->
    <script type="text/ng-template" id="resetearTodo">
        <h2>Borrar todo el contenido guardado?</h2>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="resetearTodo();closeThisDialog()" class="newMural danger-btn">
                <p>Borrar todo</p>
            </article>
        </div>
    </script>

    <!-- importar murales -->
    <script type="text/ng-template" id="importarMurales">
    <i class="icono"><svg x="0px" y="0px" viewBox="0 0 550.8 550.8">
                    
                <g class="iconSvg">
                    <path fill="#525351" d="M515.8,61.2H35c-19.3,0-35,15.7-35,35v358.5c0,19.3,15.7,35,35,35h480.9c19.3,0,35-15.7,35-35V96.2
        C550.8,76.9,535.1,61.2,515.8,61.2z M515.8,96.2v254.3l-68.9-62.7c-10.4-9.4-26.3-9-36.2,0.9L341,358.5L203.4,194.2
        c-10.4-12.4-29.4-12.5-40-0.3L35,343.2v-247H515.8z M367.2,188c0-26.6,21.5-48.1,48.1-48.1c26.6,0,48.1,21.5,48.1,48.1
        s-21.5,48.1-48.1,48.1C388.7,236.1,367.2,214.5,367.2,188z"></path>
                </g>
            
            </svg></i>
        <h3 class="pregunta">¿Qué quieres hacer con los {{muralesImportados | cuantosMurales}} murales importados?</h3>
    
        <p>Puedes sustituirlos por los murales que ya tienes o añadirlos guardando los anteriores</p>

        <div class="dialog-contents">
            <article ng-click="$parent.muralesImportados ='';closeThisDialog()" class="newMural">
                <p>Cancelar</p>
            </article>
            <article ng-click="importarMurales();closeThisDialog()" class="newMural danger-btn">
                <p>Sustituir</p>
            </article>
            <article ng-click="importarMurales('add');closeThisDialog()" class="newMural">
                <p>Añadir</p>
            </article>
        </div>
    </script>

    <!-- plantilla nuevoMural -->
    <script type="text/ng-template" id="nuevoMural">
        <i class="icono"><svg x="0px" y="0px" viewBox="0 0 550.8 550.8">
					
				<g class="iconSvg">
					<path fill="#525351" d="M515.8,61.2H35c-19.3,0-35,15.7-35,35v358.5c0,19.3,15.7,35,35,35h480.9c19.3,0,35-15.7,35-35V96.2
		C550.8,76.9,535.1,61.2,515.8,61.2z M515.8,96.2v254.3l-68.9-62.7c-10.4-9.4-26.3-9-36.2,0.9L341,358.5L203.4,194.2
		c-10.4-12.4-29.4-12.5-40-0.3L35,343.2v-247H515.8z M367.2,188c0-26.6,21.5-48.1,48.1-48.1c26.6,0,48.1,21.5,48.1,48.1
		s-21.5,48.1-48.1,48.1C388.7,236.1,367.2,214.5,367.2,188z"></path>
				</g>
			
			</svg></i>
        <h3 class="pregunta">Nuevo mural</h3>
        <div class="searchBox">
            <input class="newMural" ng-focus="desactivar()" ng-model="$parent.tituloNewMural" ng-blur="activar()" type="text" placeholder="Nombre del mural">
            <input class="newMural" ng-focus="desactivar()" ng-model="$parent.fotoNewMural" ng-blur="activar()" type="text" placeholder="URL de la imagen">
        </div>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="nuevoMural();closeThisDialog()" class="newMural good-btn">
                <p>Crear mural</p>
            </article>
        </div>
    </script>
    <script type="text/ng-template" id="escalarTodosPuntos">
        <i class="icono">
    	<svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 30.4 30.4">
					
				<g class="iconSvg">
					<path fill="#525351" d="M15.2,0C6.8,0,0,6.8,0,15.2s6.8,15.2,15.2,15.2s15.2-6.8,15.2-15.2S23.6,0,15.2,0z M17.1,25.1v-0.9
						c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v0.9c-4.1-0.8-7.3-4-8-8h0.7c1,0,1.8-0.8,1.8-1.8s-0.8-1.8-1.8-1.8H5.3c0.8-4,4-7.3,8-8v0.9
						c0,1,0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8V5.3c4,0.8,7.3,4,8,8h-0.7c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8h0.7
						C24.3,21.1,21.1,24.3,17.1,25.1z"/>

					<circle fill="#525351" cx="15.2" cy="15.2" r="3"/>
				</g>
			
			</svg>
	</i>
        <h3 class="pregunta">Poner escala {{$parent.nuevaScale}} a todos los puntos del mural</h3>
        <div class="searchBox">
            <input class="newMural" ng-focus="desactivar()" ng-model="$parent.nuevaScale" ng-blur="activar()" type="text" placeholder="Nueva escala">
        </div>
        <div class="dialog-contents">
            <article ng-click="closeThisDialog()" class="newMural">
                <p>Cancela</p>
            </article>
            <article ng-click="escalarPuntos(muralesActivos[idMuralActivo].puntos);$parent.sectionActiveMural = false;closeThisDialog()" class="newMural good-btn">
                <p>Escalar</p>
            </article>
        </div>
    </script>
</body>

</html>
