<h2>Seguro que quieres borrar el mural?</h2>

<div class="dialog-contents">
    Se borrarían todos los puntos que contenga y la imagen de fondo
    <button ng-click="closeThisDialog()">Cancela</button>
    <button ng-click="$parent.removeMural(muralABorrar);closeThisDialog()">Aceptar</button>
</div>