<h2>Seguro que quieres borrar el punto?</h2>

<div class="dialog-contents">
    <button ng-click="closeThisDialog()">Cancela</button>
    <button ng-click="$parent.removeMural(muralABorrar);closeThisDialog()">Aceptar</button>
</div>