    *{
    margin:0;
    padding: 0;
    transition:all 0.3s;
    font-family: arial;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;   
    }

    div.logoBox img {
        width: 100%;
    }

    html,body{
    height: 100%;
    background-color: black;
    }

    body.bodyAmpliao{
    /*background-color: black;*/
    overflow: hidden;
    }

    body.bodyAmpliao > section.visorLienzo{
    height: 100%;
    width: 100%;
    }

    body.bodyNormal > section.visorLienzo{
    height: 100%;
    width: 100%;
    }

    body.bodyNormal{
    /*background-color: #444444;*/
    }

    /*div.largeWrapper {
    position: fixed;
    top: 100px;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9;
    color: white;
    left: 10%;
    opacity: 1;
    }*/

    div.largeWrapper {
    position: absolute;
    top: 100px;
    width: 90%;
    height: calc(100% - 100px);
    z-index: 8;
    color: white;
    left: 10%;
    opacity: 1;
    }

    div.largeWrapper.ng-hide{
    display: block !important;
    opacity: 0;
    pointer-events: none;
    }

    span.teclaIcon {
    background-color: #525351;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    line-height: 1.8em;
}

h3.secHotkey{
    font-weight: lighter;
    color: rgb(187, 187, 187);
    margin-top: 20px;
}

span.nombreAccion {
    margin-left: 13px;
}

ul.listHotkey {
    margin-top: 11px;
    display: inline-block;
    margin-bottom: 22px;
}

ul.listHotkey>li{
    padding: 5px 0;
    cursor: pointer;
}

ul.listHotkey>li:hover>span.teclaIcon{
background-color: #64BEEC;
color: black;
}

div.marginLargeWrapper {
    padding: 2%;
    display: inline-block;
    background-color: black;
}

    li{
    list-style: none;
    margin-left: 15px;
    }

    div.lienzo {
    width: 90%;
    transition: transform .8s, left .3s, width .3s;
    position: relative;
    bottom: -100px;
    z-index: 2;
    left: 10%;
    margin-bottom: 100px;
    }

    div.lienzo.minLienzo {
    width: 64%;
    left: 36%;
    }

    section.visorLienzo {
    overflow: hidden;
    display: inline-table;
    }


    img.imgLienzo{
    width: 100%;
    cursor: crosshair;
    }

    span.marca{
    position: absolute;
    font-size: 16px;
    text-align: center;
    cursor: help;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    transform-origin: left top;
    pointer-events: none;

    }

    span.numberIndex {
    height: 34px;
    width: 34px;
    background-color: black;
    color: white;
    z-index: 3;
    position: relative;
    display: inline-block;
    }

    span.marca:hover{
    z-index: 9;
    }

    span.marca:hover div.moreInfo{
    display: inline-table;
    }

    div.moreInfo.openPoint{
    padding: 26px;
    border-radius: 20px !important;
    width: 310px;
    white-space: normal;
    left: 0;
    top: 0;
    }

    div.moreInfo.openPoint > span.nombrePunto {
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 7px;
    /*padding-left: 22px;*/
    }

    span.textoContenedor {
    overflow: auto;
    display: inline-block;
    }

    div.moreInfo {
    display: none;
    text-align: left;
    background-color: black;
    border-radius: 0px 20px 20px 20px;
    color: white;
    padding: 6px 21px;
    position: absolute;
    transform-origin: left top;
    left: calc(100% - 2px);
    top: calc(50% - 3px);
    white-space: nowrap;
    }


    span.marca.borDerecho div.moreInfo.openPoint {
    border-radius: 20px !important;
    top: 0 !important;
    right: 0 !important;
    height: auto;
    }

    span.marca.borDerecho.borDeabajo div.moreInfo {
    top: -100% !important;
    border-radius: 20px 20px 0px 20px !important;
    transform-origin: right bottom;
    }

    span.marca.borDerecho.borDeabajo div.moreInfo.openPoint {
    border-radius: 20px !important;
    top: auto !important;
    transform-origin: right bottom;
    vertical-align: bottom;
    bottom:0;
    height: auto;
    }

    span.marca.borIzquierda.borDeabajo div.moreInfo {
    top: -100%;
    border-radius: 20px 20px 20px 0px !important;
    transform-origin: left bottom;
    }

    span.marca.borIzquierda.borDeabajo div.moreInfo.openPoint {
    border-radius: 20px !important;
    top: auto !important;
    transform-origin: left bottom;
    vertical-align: bottom;
    bottom:0;
    height: auto;
    }
    
    span.marca.borDerecho div.moreInfo{
    left: auto;
    right: calc(100% + -1px);
    transform-origin: right top;
    border-radius: 19px 0px 20px 20px !important;
    top: calc(50% - -5px);
    }

    span.moreText {
    position: relative;
    width: 420px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 24px;
    top: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 25px;
    z-index: 9;
    }

    img.nulo{
    display: none;
    }


    ul.listaPuntosEdit{
    padding-bottom: 200%;
    overflow: auto;
    height: calc(40% - 150px);
    }

    li.listaPuntosEdit {
    padding: 17px 0 42px 0;
    position: relative;
    border-bottom: 4px solid #232323;
    }

    li.listaPuntosEdit:hover span.numeroIndex{
    background-color: #64BEEC;
    }

    li.listaPuntosEdit:hover input.minibutton{
    background-color: #383838;
    }

    input.inputStyle{
    border: 1px solid white;
    border-radius: 0;
    padding: 8px;
    }

    div.panelOculto{
    opacity: 0;
    display: none;
    height: 0%;
    }

    div.panelVisible{
    opacity: 1;
    height: 100%;
    /*display: block;*/
    }

    input:hover{
    border: 1px solid rgb(187, 187, 187);
    }

    input:focus{
    background-color: #DEDEDE !important;
    outline: none;
    }

    button:focus{
    outline: none;	
    }

    button:active{
    background-color: black;
    }

    div.edit {
    margin: 15px 0;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-top: 82px;
    }

    input.urlImagen {
    border: 1px solid #EFEFEF;
    padding: 19px;
    width: 100%;
    background-color: white;
    }

    h3.titlePoint {
    margin: 8px 0 23px 0;
    font-size: 1.7em;
    border-bottom: 1px solid #565656;
    padding-bottom: 17px;
    }

    section.exportSection {
    padding: 24px;
    overflow: hidden;
    width: 70%;
    }

    div.codigoText,span.puntoCode{
    color:#565656;
    }

    div.codigoText>p::selection{
    color:#64BEEC;
    }

    span.marcoSelector{
    position: relative;
    left: -50%;
    top: -50%;
    width: 34px;
    height: 34px;
    display: block;
    background-color: black;
    border-radius: 50%;
    color: white;
    line-height: 210%;
    pointer-events: auto;
    }

    span.remarcado{
    transform: scale(1) !important;
    background-color: #64BEEC;
    position: absolute;
    z-index: 99999999;
    box-shadow: 0 0 4px black;
    }

    .buttonLabel {
    cursor: pointer;
    background-color: #383838;
    color: white;
    padding: 14px 16px;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    border: 0px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .buttonRojo:hover{
    background-color: #A02E2E !important;
    border: 1px solid #500909 !important;
    }

    label.buttonLabel:hover {
    background-color: black;
    }

    span.numeroIndex:hover{
    transform: scale(1);
    }

    input.checkPoint{
        display: none;
    }

    span.numeroIndex:hover > span.numberPoint{
        display: none;
    }

    span.numeroIndex:hover > input.checkPoint{
        display: inline-block;
    }

    input.checkPoint:checked{
        display: inline-block !important;
    }

    input.checkPoint:checked + span.numberPoint{
        display: none !important;
    }

    .minibutton {
    background-color: black;
    height: 20px;
    width: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 12px;
    right: 8px;
    }



    span.numeroIndex {
    background-color: #383838;
    border-radius: 110px;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    transform: scale(0.7);
    }

    p.infoBottom {
    margin: 55px 0;
    border-top: 1px solid #cacaca;
    padding-top: 45px;
    margin-top: 25px;
    }

    span.infoInputSpan {
    display: block;
    font-weight: lighter;
    font-size: 14px;
    line-height: 49px;
    color: #e0e0e0;
    }


    span.inputEntero{
    position: relative;
    display: inherit;
    z-index: 0;
    }

    span.versionNumb{
    position: absolute;
    left: 26px;
    bottom: 13px;
    font-size: 13px;
    color: #848484;
    }

    button.botonDeInput{
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    }

    div.botonesBox {
    position: fixed;
    z-index: 99;
    top: 100px;
    left: 0;
    height: 100%;
    background: black;
    color: white;
    width: 10%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    }

    div.botonesBox:hover{
    /*width: 25%;*/
    }	

    div.muralItem {
    width: 93%;
    display: inline-block;
    margin-right: 16px;
    margin-top: 13px;
    cursor: pointer;
    margin: 3% 0;
    }

    div.muralItem article{
    background-color: transparent;
    border: 1px solid transparent;
    }

    article.seleccionado {
    border-radius: 5px;
    color: white;

    }

    article.seleccionado input.fakeInput{
    color: white;
    }

    div.muralItem:hover img.imgMuralItem{
    width: 200%;
    opacity: 0.8;
    left: -50%;
    top: -50%;
    }

    img.imgMuralItem {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    transition:all 2s cubic-bezier(0, 0.6, 0.13, 0.71);
    }

    span.muralImagenThumb {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 122px;
    background-size: cover;
    background-position: center center;
    }

    span.muralImagenThumb:hover{

    }

    div.navegacion {
    position: fixed;
    top: 0;
    right: 0;   
    z-index: 9;
    background-color: black;
    padding: 17px;
    width: 100%;
    text-align: center;
    height: 100px;
    box-sizing: border-box;
    color: white;
    padding-bottom: 0;
    }

    input.inputNumberNav {
    width: 43px;
    text-align: center;
    border: 0;
    padding: 0;
    height: 23px;
    }

    section.section{
    margin-top: 34px;
    }

    div.notificacion{
    margin: 34px;
    }

    article.newMural {
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px;
    background-color: #222;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 0.9em;
    }

    article.newMural:hover {
    background-color: #64BEEC;
    }

    article.danger-btn:hover{
    background-color: #A02E2E;   
    }

    article.good-btn:hover{
    background-color: #3BBC30;   
    }

    input.newMural{
    margin: 5% 0 0 0 !important;
    }

    div.btnDialogBox{
    margin-top: 24px;
    }

    input.fakeInput {
    padding: 4px;
    font-size: 18px;
    background-color: transparent;
    width: calc(100% - 50px);
    margin-bottom: 7px;
    border: 0;
    }

    input.fakeInput:hover,input.fakeInput:focus{
    background-color: white !important;
    color:black !important;
    }

    div.dialogMain{
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    div.dialogBox {
    top: 50%;
    left: 50%;
    width: 295px;
    height: 450px;
    position: fixed;
    z-index: 1;
    pointer-events: none;
    }

    div.dialog {
    position: relative;
    top: -50%;
    left: -50%;
    background: black;
    color: white;
    padding: 25px;
    border-radius: 6px;
    pointer-events: auto;
    }

    div.backGround-Dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    /*background-color: rgba(0, 0, 0, 0.72);*/
    background-color: rgba(33, 33, 33, 0.91);
    cursor: pointer;
    }

    p.marinTop{
    margin-top: 15px;
    }

    .defondo{
    color: grey;
    }

    span.mainListIcon {
    cursor: pointer;
    margin: 0 auto;
    display: list-item;
    list-style: none;
    max-width: 61px;
    min-width: 33px;

    }

    span.svgBox>svg {
    cursor: pointer;
    padding: 10%;
    box-sizing: border-box;
    width: 100%;
    }

    span.titleMainIcon {
    text-align: center;
    display: block;
    padding: 10px 0;
    color:#525351;
    font-size: 12px;
    }

    input.miniInput {
    width: 44px;
    }

    input.largeInput {
    width: 100%;
    }

    span.svgBox:hover g.iconSvg>path, span.svgBox:hover g.iconSvg>polygon,  span.svgBox:hover g.iconSvg>circle,  span.svgBox:hover span.titleMainIcon, span.svgActivo g.iconSvg>path, span.svgActivo g.iconSvg>circle, span.svgActivo span.titleMainIcon{
    fill:#64BEEC;
    color:#64BEEC;
    }

    span.svgBox:hover g.iconSvg>line{
    stroke:#64BEEC;
    }

    span.svgDanger:hover g.iconSvg>path{
    fill:#A02E2E;
    }

    span.buttonNav.svgBox {
    width: 40px;
    height: 40px;
    background-color: black;
    display: block;
    }

    div.displaceFloat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    height: auto;
    z-index: 99;
    }


    div.logoBox {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    float: left;
    cursor: pointer;
    }

    input.inputSmall {
    width: 51px;
    padding: 7px 0 7px 4px;
    background-color: #353535;
    border: 0;
    margin: 0;
    }

    input.inputSmall:hover{
    background-color: white;
    }

    div.sectionFloatingBox{
    position: fixed;
    top: 100px;
    background-color: black;
    z-index: 9;
    left: 10%;
    width: 26%;
    color: white;
    max-height: calc(100% - 100px);
    overflow: visible;
    padding-bottom: 30px;
    height: 100%;

    }

    span.labelInput {
    margin-right: 10px;
    margin-left: 6px;
    }

    input.xInput::before,input.yInput::before{

    content:'0';
    color: white;
    display: inline-block;

    }

    div.sectionFloatingBox.ng-hide {
    display: block !important;
    left: -35%;
    }

    *::-webkit-scrollbar, textarea.textAreaTextPoint::-webkit-scrollbar {
    width: 14px;
    }

    .scrollFinito::-webkit-scrollbar, textarea.textAreaTextPoint::-webkit-scrollbar {
    width: 8px !important;
    }

    *::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 2px;
    }

    .scrollTolrato::-webkit-scrollbar-track {
    background-color:#202020;
    border-radius: 2px;
    }

    *:hover::-webkit-scrollbar-track {
    background-color:#252525;
    }

    *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color:black;
    }

    .scrollTolrato::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color:#6C6C6C;
    }

    *:hover::-webkit-scrollbar-thumb {
    background-color:#64BEEC;
    }
    *::-webkit-scrollbar-thumb:hover {
    background-color:#64BEEC;
    }

    input.fakeInputPoint {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 15px;
    padding: 10px;
    white-space:nowrap;
    text-overflow: ellipsis;
    }

    textarea.textAreaTextPoint {
    width: 96%;
    padding: 10px;
    margin: 2%;
    resize: none;
    background-color: black;
    color: white;
    border: 0;
    outline: none;
    height: 60px;
    }

    input.fakeInputPoint:focus{
    background-color: #252525 !important;
    }

    textarea.textAreaTextPoint:hover , input.fakeInputPoint:hover{
    background-color: #252525;
    }

    textarea.textAreaTextPoint:focus {
    height: 600px;
    background-color: #252525;
    }

    /* SCROLLBAR ON */

    /*::-webkit-scrollbar {
    width: 12px;
    }

    ::-webkit-scrollbar-track {
    background-color:black;
    border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color:#64BEEC;
    }*/

    /* SCROLLBAR OFF */

    div.headerFloating {
    display: flex;
    }

    div.searchBox {
    flex: 2;
    }

    div.optionPoints {
    flex: 1;
    }

    li.listaPuntosEdit.select span.numeroIndex {
    transform: scale(1.3);
    background-color: #64BEEC;
    }

    li.listaPuntosEdit.select input.fakeInputPoint {
    color: #64BEEC;
    }

    div.searchBox > input {
    width: 86%;
    padding: 7px;
    background-color: #353535;
    border: 0;
    margin: 0;
    margin-bottom: 25px;
    }

    div.searchBox > input:hover{
    background-color: white;
    }

    input.fullimput{
    margin: 4% !important;
    }

    ul.listadoPuntos {
    display: flex;
    }

    li.listaPunto {
    flex: 1;
    margin: 0;
    line-height: 3em;
    text-align: center;
    }

    li.listaPunto.compacto {
    margin-top: 0%;
    }

    li.listaPunto>input {
    display: none;
    }

    li.listaPunto>input:checked + label > span.svgBox g.iconSvg>path,li.listaPunto>input:checked + label > span.svgBox g.iconSvg>polygon{
    fill:#64BEEC;
    }

    li.listaPunto>label {
    display: inline-block;
    width: 21px;
    cursor: pointer;
    }

    div.rangeFloating {
    position: fixed;
    bottom: 0;
    right: 40px;
    background-color: black;
    z-index: 999;
    padding: 11px;
    }

    input.inputNameMural:focus {
    background-color: #353535 !important;
    padding-left: 7px !important;
    border: 1px solid white;
    color: #cacaca;
    }

    input.inputNameMural:hover {
    background-color: #353535 !important;
    padding-left: 7px !important;
    }

    input.inputNameMural {
    margin: 0% !important;
    width: 92% !important;
    background-color: transparent !important;
    color: white;
    font-size: 17px;
    padding-left: 0 !important;
    border: 1px solid transparent;
    margin-bottom: 4px !important;
    }

    div.backgroundBack{
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    }

    div.searchBox.settingMural {
    flex:6 !important;
    margin: 12px 0;
    }

    /**/

    .tooltip {
    display: inline;
    position: relative;
    }

    .tooltip:hover:after {
    background-color: black;
    bottom: calc(100% + 11px);
    color: #000;
    content: attr(data-title);
    display: block;
    left: -100%;
    border-radius: 3px;
    padding: .3em 1em;
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    z-index: 99999999;
    background-color: #64BEEC;
    user-select:none;
    }

    .tooltip-danger:hover:after {
    color: #fff;
    background-color: #A02E2E;
    }

    .tooltip:hover:before {
    border: solid;
    border-color: #64BEEC transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1.5em;
    content: "";
    display: inline;
    left: 0.2em;
    position: absolute;
    z-index: 99999999;
    user-select:none;
    }

    .tooltip-danger:hover:before{
    border-color: #A02E2E transparent;
    }

    /**/

    section.listaMurales{
    overflow: auto;
    height: calc(100% - 160px);
    }

    input.miniRange{
    width: 50px;
    margin-top: 15px;
    }

    form.inlineBlock{
    display: inline-block;
    }

    a.infolink:hover{
    text-decoration: underline;
    }

    a.infolink,a.infolink:visited{
    text-decoration: none;
    color: #E69444;
    }

    span.arribaDerecha {
    position: absolute;
    top: 5px;
    right: 8px;
    max-width: 78px;
    text-align: center;
    }

    span.arribaDerecha>svg {
    width: 60%;
    }

    img.miLogo{
    width: 72px;
    display: inline-block;
    }

    p.mitexto{
    display: inline-block;
    max-width: 170px;
    margin-left: 13px;
    }

    p.codeText:hover{
    color:#989898;
    }

    p.codeText{
    font-size: 5px;
    width: 88%;
    word-wrap: break-word;
    }